.sds-file-input {
  position: relative;

  input[type='file'] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
  }

  &__files {
    margin-left: $sds-size-spacing-small;
  }

  .sds-form-element__help {
    margin-top: $sds-size-spacing-small;
  }
}
