.sds-icon-button {
  $root: &;
  --sds-icon-button-outline-color: #{$button-base-focus-outline};
  background: $button-base-background-color;
  border: $base-border-width solid transparent;
  border-radius: $sds-size-border-radius-small;
  color: $button-base-font-color;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $sds-size-spacing-xs;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  transition: background-color $sds-time-transition-short ease-in-out,
    box-shadow $sds-time-transition-short ease-in-out;
  user-select: none;
  -webkit-appearance: none;
  width: 32px;
  height: 32px;

  &:hover {
    color: $button-base-font-color;
    background: $button-base-background-hover;
  }

  &:focus,
  &:focus-within {
    color: $button-base-font-color;
    outline: 0;
    background: $button-base-background-focus;
    box-shadow: $button-box-shadow;
  }

  &:active {
    color: $button-base-font-color;
    text-decoration: none;
    background: $button-base-background-active;
  }

  svg {
    max-height: 1.3em;
  }

  // ghost
  &--ghost {
    background: $base-background-color;
    box-shadow: none;
    &:visited:not(:active):not(:hover) {
      color: $button-base-font-color;
    }
  }

  // link
  &--link {
    background: transparent;
  }

  & a {
    text-decoration: none;
  }

  // sizes
  &--x-small {
    width: 24px;
    height: 24px;
    padding: $sds-size-spacing-xxs;
  }

  &--small {
    width: 28px;
    height: 28px;
    padding: $sds-size-spacing-xs;
  }

  &--large {
    width: 40px;
    height: 40px;
    padding: $sds-size-spacing-small;
  }

  // variants
  &--primary {
    --sds-icon-button-outline-color: #{$button-primary-focus-outline};
    background: $button-primary-background;
    color: $button-primary-font-color;

    &#{$root}--ghost {
      background: $base-background-color;
      border-color: $button-primary-border-color;
      color: $button-primary-ghost-font-color;
      &:visited:not(:active):not(:hover) {
        color: $button-primary-ghost-font-color;
      }
    }

    &:hover {
      background: $button-primary-background-hover;
      color: $button-primary-font-color;
    }

    &:focus,
    &:focus-within {
      background: $button-primary-background-focus;
      box-shadow: $button-box-shadow;
      color: $button-primary-font-color;
    }

    &:active {
      background: $button-primary-background-active;
      color: $button-primary-font-color;
    }

    &:visited {
      color: $button-primary-font-color;
    }
  }

  &--secondary {
    --sds-icon-button-outline-color: #{$button-secondary-focus-outline};
    background: $button-secondary-background;
    color: $button-secondary-font-color;

    &#{$root}--ghost {
      background: $base-background-color;
      border-color: $button-secondary-border-color;
      color: $button-secondary-ghost-font-color;
      &:visited:not(:active):not(:hover) {
        color: $button-secondary-ghost-font-color;
      }
    }

    &:hover:not(:active) {
      background: $button-secondary-background-hover;
      color: $button-secondary-font-color;
    }

    &:focus,
    &:focus-within {
      background: $button-secondary-background-focus;
      box-shadow: $button-box-shadow;
      color: $button-secondary-font-color;
    }

    &:active {
      background: $button-secondary-background-active;
      color: $button-secondary-font-color;
    }

    &:visited {
      color: $button-secondary-font-color;
    }
  }

  &--risk {
    --sds-icon-button-outline-color: #{$button-risk-focus-outline};
    background: $button-risk-background;
    color: $button-risk-font-color;

    &#{$root}--ghost {
      background: $base-background-color;
      border-color: $button-risk-border-color;
      color: $button-risk-ghost-font-color;
      &:visited:not(:active):not(:hover) {
        color: $button-risk-ghost-font-color;
      }
    }

    &#{$root}--link {
      background: transparent;
      border-color: transparent;
      color: $button-risk-ghost-font-color;
      &:focus,
      &:focus-within {
        color: $button-risk-ghost-font-color;
        background: transparent;
        box-shadow: $button-box-shadow;
      }
    }

    &:hover {
      background: $button-risk-background-hover;
      color: $button-risk-font-color;
    }

    &:focus,
    &:focus-within {
      background: $button-risk-background-focus;
      box-shadow: $button-box-shadow;
      color: $button-risk-font-color;
    }

    &:active {
      background: $button-risk-background-active;
      color: $button-risk-font-color;
    }

    &:visited {
      color: $button-risk-font-color;
    }
  }

  &:disabled,
  &[disabled] {
    background: rgba($button-base-background-color, 0.75);
    color: rgba($button-base-font-color, 0.45);
    cursor: not-allowed;

    svg {
      color: rgba($button-base-font-color, 0.35);
    }

    &:hover, &:focus, &:active, &:visited {
      background: rgba($button-base-background-color, 0.75);
      color: rgba($button-base-font-color, 0.45);
    }
  }
}

