@function url-friendly-colour($colour) {
  @return '%23' + str-slice('#{$colour}', 2, -1);
}

.sds-select-wrap {
  position: relative;
  width: 100%;
  &::after {
    position: absolute;
    top: 40%;
    content: '';
    display: block;
    right: $spacing-small;
    width: $spacing-base;
    height: $spacing-small;
    background: url("data:image/svg+xml;utf8,<svg width='12px' height='8px' viewBox='0 0 12 8' xmlns='http://www.w3.org/2000/svg'><path fill='#{url-friendly-colour($sds-color-base-asphalt-default)}' d='M6,5.58578644 L1.70710678,1.29289322 C1.31658249,0.902368927 0.683417511,0.902368927 0.292893219,1.29289322 C-0.0976310729,1.68341751 -0.0976310729,2.31658249 0.292893219,2.70710678 L5.29289322,7.70710678 C5.68341751,8.09763107 6.31658249,8.09763107 6.70710678,7.70710678 L11.7071068,2.70710678 C12.0976311,2.31658249 12.0976311,1.68341751 11.7071068,1.29289322 C11.3165825,0.902368927 10.6834175,0.902368927 10.2928932,1.29289322 L6,5.58578644 Z'></path></svg>")
      no-repeat;
    pointer-events: none;
  }
}
.sds-select {
  height: $form-item-height + ($form-item-border-width * 2);
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: $spacing-large;

  &--placeholder,
  &:disabled {
    color: $form-placeholder-font-color;
    font-style: italic;
  }
}
